<h2>Services</h2>

<% @services.each do |service| %>
    <p><%= link_to service.name, service_path(service) %></p>
<% end %>

<hr class="small"/><br>

<%= link_to "Add Service", new_service_path, class: "btn" %>