<h2>Veterinarians</h2>

<% if @veterinarians.empty? %>
    There are currently no veterinarians in the system.
<% else %>
    <% @veterinarians.each do |vet| %>
        <p><%= vet.name %> - <small><%= link_to "Delete", vet, method: :delete, data: { confirm: "Are you sure you want to delete this veterinarian?" } %></small></p>
    <% end %>
<% end %>

<hr class="small"/><br>

<%= link_to "Add Veterinarian", new_veterinarian_path, class: "btn" %>