<h2>Veterinarians</h2>

<% if @veterinarians.empty? %>
    There are currently no veterinarians in the system.
<% else %>
    <% @veterinarians.each do |vet| %>
        <p><%= link_to vet.name, veterinarian_path(vet) %></p>
    <% end %>
<% end %>

<hr class="small"/><br>

<%= link_to "Add Veterinarian", new_veterinarian_path, class: "btn" %>