<h2>Animals</h2>

<% if @animals.empty? %>
    <p>You currently have no animals.</p>
<% else %>
    <% @animals.each do |animal| %>
        <p><%= link_to animal.name, user_animal_path(current_user, animal) %></p>
    <% end %>
<% end %>

<hr class="small"/><br>

<%= link_to "Add Animal", new_user_animal_path(current_user), class: "btn" %><br><br>