<h2>Animals</h2>
<%= link_to "Add Animal", new_animal_path, class: "btn" %>

<% if @animals.empty? %>
    <p>You currently have no animals.</p>
<% else %>
    <% @animals.each do |animal| %>
        <p><%= link_to animal.name, user_animal_path(current_user, animal) %></p>
    <% end %>
<% end %>