body {
    background-color:#A9A9A9;
    font-family:  'JetBrains Mono', monospace;
    text-align: center;
    margin: 0px auto;
    padding-right: 100px;
    padding-left: 100px;
}

nav {
    color: #777;
    padding: 10px;
    margin: 0px auto;
    margin-top: 5px;
    width: 75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav a {
    color: #000;
    font-size: 15px;
    font-family:  'JetBrains Mono', monospace;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: #2B65EC;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.4s;
}

p.homepage {
    text-align: left;
}

h1 {
    color: #000;
    font-family: 'JetBrains Mono', monospace;
    font-size: 70px;
    line-height: 0px;
    text-shadow: 0 0 8px #2B65EC;
}

h2 {
    font-family: 'JetBrains Mono', monospace;
    text-decoration: underline;
}

hr {
    width: 50%;
    height: 1px;
    border-width: 0px;
    border-top: 1px dashed #777;
}

.small {
    width: 25%;
    height: 1px;
    border-width: 0px;
    border-top: 1px dashed #777;
}

label {
    color: #000;
    font-weight: bold;
}

.animal_pic {
    border-radius:100px;
}

.btn {
    color: #000;
    background-color: #888;
    font-family: 'JetBrains Mono', monospace;
    font-size: 13px;
    text-decoration: none;
    padding: 8px 15px 8px 15px;
}

.btn:hover {
    background-color: #999;
    transition-duration: 0.5s;
}

input[type="text"], input[type="number"], input[type="date"], input[type="datetime-local"], input[type="email"], input[type="password"], select {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    border: 1px solid #777;
    padding: 2px;
    outline: none;
    margin: 5px;
    background-color: transparent;
}

input[type="file"] {
    font-family: 'JetBrains Mono', monospace;
    padding: 2px;
    outline: none;
    background-color: transparent;
}

input[type="submit"] {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    border: none;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    background-color: #888;
}

input[type="submit"]:hover {
    font-family: 'JetBrains Mono', monospace;
    border: none;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    background-color: #999;
    transition-duration: 0.4s;
}

a {
    color: #000;
    font-weight: bold;
}

a:hover {
    color: #2B65EC;
    transition-duration: 0.4s;
}

/* 
.form {
    background-color: #fff;
    width: 20%;
    display: inline-block;
    padding: 10px;
} */

footer {
    background-color: #A9A9A9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }