<h2>Appointments</h2>
<%= link_to "Schedule Appointment", new_appointment_path, class: "btn" %>

<% if @appointments.empty? %>
    <p>You have no scheduled appointments.</p>
<% else %>
    <% @appointments.each do |apt| %>
        <p><%= apt.date.strftime("%m/%d/%Y") %> - <%= link_to "#{apt.service.name} for #{apt.animal.name}", appointment_path(apt) %></p>
    <% end %>
<% end %>