<h3>When: <%= @appointment.date.strftime("%A, %B %e %Y at %l:%M %p") %></h3>

<h4>Animal: <%= link_to @appointment.animal.name, animal_path(@appointment.animal) %></h4>

<h4>Veterinarian: <%= @appointment.veterinarian.name %></h4>

